@model IEnumerable<CVApplicationsManager.Views.DegreesViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DegreeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="delete-btn" data-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<form id="deleteForm" asp-action="Delete">
    <input type="hidden" id="DegreeId" name="Id" />
</form>


@section Scripts{
    <script>
        $(function () {
            $(".delete-btn").click(function (e) {
                var button = $(this);
                swal({
                    title: "Only unused Degrees can be deleted.",
                    text: "Are you sure you want to DELETE this permanently?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then(function (confirm) {
                    if (confirm) {
                        var id = button.data("id");
                        $("#DegreeId").val(id);
                        $("#deleteForm").submit();
                    };
                });
            });
        });
    </script>
    }